In [1]:
import numpy as np
import pandas as pd

In [2]:
patients = pd.read_csv('IndividualDetails.csv')

In [38]:
patients

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8467,8468,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8468,8469,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8469,8470,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8470,8471,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8471,8472,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN

In [3]:
patients.shape

(8472, 12)

In [4]:
patients.shape[0]

8472

In [5]:
patients['current_status'].value_counts()

Hospitalized    8301
Recovered        139
Deceased          30
Migrated           1
Name: current_status, dtype: int64

In [6]:
total_cases = patients.shape[0]

In [7]:
total_cases

8472

In [9]:
patients[patients['current_status'] == 'Hospitalized']

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
18,18,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Hospitalized,04/03/2020,Travelled from Italy
19,19,NaN,04/03/2020,55,NaN,Gurugram,Italians*,Haryana,Italy,Hospitalized,04/03/2020,Travelled from Italy
21,21,NaN,04/03/2020,NaN,M,Agra,Agra,Uttar Pradesh,India,Hospitalized,04/03/2020,Family members of P4
26,26,NaN,04/03/2020,NaN,NaN,Agra,Agra,Uttar Pradesh,India,Hospitalized,04/03/2020,Family members of P4
27,27,NaN,04/03/2020,NaN,NaN,NaN,Agra,Uttar Pradesh,India,Hospitalized,04/03/2020,"Accompanied the Italian tourists, Nationality:..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8467,8468,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8468,8469,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8469,8470,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8470,8471,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN
8471,8472,NaN,12/04/2020,NaN,NaN,NaN,NaN,West Bengal,NaN,Hospitalized,12/04/2020,NaN

In [10]:
patients[patients['current_status'] == 'Hospitalized'].shape

(8301, 12)

In [11]:
active_cases = patients[patients['current_status'] == 'Hospitalized'].shape[0]

In [12]:
active_cases

8301

In [13]:
recovered = patients[patients['current_status'] == 'Recovered'].shape[0]

In [14]:
recovered

139

In [15]:
deaths = patients[patients['current_status'] == 'Deceased'].shape[0]

In [16]:
deaths

30

In [41]:
no_of_patients = patients[patients['current_status'] == 'Hospitalized']
patient_bar = no_of_patients['detected_state'].value_counts().reset_index()

In [45]:
patient_bar

                          index  detected_state
0                   Maharashtra            1757
1                         Delhi            1065
2                    Tamil Nadu             962
3                     Rajasthan             696
4                Madhya Pradesh             527
5                     Telangana             501
6                       Gujarat             463
7                 Uttar Pradesh             445
8                Andhra Pradesh             403
9                        Kerala             313
10            Jammu and Kashmir             223
11                    Karnataka             181
12                      Haryana             167
13                       Punjab             156
14                  West Bengal             128
15                        Bihar              63
16                       Odisha              53
17                  Uttarakhand              34
18             Himachal Pradesh              30
19                        Assam              29
20                 Chhattisgarh              24
21                   Chandigarh              19
22                    Jharkhand              17
23                       Ladakh              15
24  Andaman and Nicobar Islands              11
25                   Puducherry               7
26                          Goa               7
27                      Tripura               2
28                      Manipur               1
29            Arunachal Pradesh               1
30                      Mizoram               1